/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

/* END CSS From Boostrap
-------------------------------------------------- */


.form-group .app-error {
    color: red !important;
    font-size: 0.7em !important;
}

.main_div_app:after {
    content: "";
    background: url(/backgrounds/background.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    opacity: 0.60;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.main_div_app.high_opacity_background:after {
    opacity: 0.95;
}

.main_div_app .navbar {
    background-color: rgba(250, 250, 250, 0.4);
}

.main_div_app .high_opacity_background .navbar {
    background-color: rgba(250, 250, 250, 0.85);
}

#navbarSupportedContent ul.navbar-nav a.nav-link {
    font-weight: bold !important;
}

.app-ppal-div {
    padding-top: 50px !important;
}

body.app-is-mobile {
    padding: 0 !important;
    margin: 0 !important;
}

body.app-is-mobile,
body.app-is-mobile #main-leaflet-map {
    height: 100% !important;
}
