.grid .flex-column {
    max-width : 260px;
}
.grid.container {
    background: #f9f9f9;
}

.grid.container img {
    margin: 5px;
}

.grid.container .d-flex.flex-column {
    text-align: center !important;
}

.pagination {
    text-align: center!important;
    justify-content: center!important;
}
